
<div id="intro">
    <h1>Gade Chaitanya Prasad</h1>
    <h2>Full Stack Web Developer</h2>

</div>
<div id="mid_section">
    <div class="mid_section_inner1">
        <img  class="images" src="../../assets/resume/frontend4.png">
        <p class="skills"> Skills 1.Angular JS</p>
    </div>
    <div class="mid_section_inner1">
        <img  class="images" src="../../assets/resume/server3.png">
        <p class="skills"> Node JS, File Transfering</p>

    </div>
    <div class="mid_section_inner1">
        <img  class="images" src="../../assets/resume/database3.png">
        <p class="skills">Skills &#13; 1. proxy SQl &#13; 2.</p>

    </div>
    
    
   
</div>