<div class="Parent">
    <h1 id="title"> DON'T WAIT FOR SUCCESS</h1>
    <div id="opening">
        <img src="../../assets/coverImage.jpg" id="coverImage">
        <h3 id="intro">
            Am I good enough? Will I ever succeed or just stay mediocre? <br> Do I have the qualities to succeed? Can I
            come out of this laziness and work hard ever?
            Have thoughts like these ever crossed you minds? <br> <br> Then you’re at the right place. Read along.
        </h3>
    </div>



    <div id="blogContent">
        <p>
            First know me in two sentences. Right now, I am not successful and I am not really working towards it in
            good momentum. I am an extrovert and love spending time with people.
        </p>
        <p>
            Today evening after finishing my work I decided to take a walk. The weather was amazing. Cool breeze and
            cloudy sky during sunset were the best way to cool my mind. I went down and I saw her, the girl I wanted to
            friends since long time. It’s just that curiosity to know the neighbour nothing more than that. But as I
            step forward to talk, a voice deep within from me asked, “Are you good enough?”. I was astonished, “Just to
            make friends my mind is asking me, am I good enough?”. Just because I don’t think I’m not successful doesn’t
            mean I can’t make new friends. My minds seem to be insane

        </p>

        <p>
            This is becoming a general scenario before everything I do, applying a job or spending my money to travel or
            giving a simple advice to my friend, my mind places a question, “Am I good enough?”.
          </p>
          <p>  
            To tackle this, I assumed a scenario. Assume I become extremely successful, wealthy, happy after working
            hard for years and by bad luck I lose all of it and reach the exact point where I am right now. Will I be
            only sad and never move on from that? If this is true then it means I can only live happily with the social
            validation but not with myself. Then why am I sad right now? Just because I am not successful, I needn’t be
            sad all the time and think I deserve nothing. I can do anything I have in my power right now, that’s sort of
            using my success so far to be happy.
            </p>
            <p>
            Thinking you are not successful will only paralyse you to use every power you have right now to move
            forward. You can stay happy and move forward at the same time too.
            </p>
            <p>
            Success surely brings more power and more freedom but does it bring happiness that’s debatable. In today’s
            social media, selling success principles by saying I’m successful have become a trend. We can never know how
            many of them are really happy behind the screen. That is why I urge you, don’t wait for success to be happy,
            don’t wait for success to make new friends or to help them, don’t wait to learn that new skill, to travel,
            to pursue your passion or love.

        </p>

        <h4>
            Yesterday at 9 PM I decided to write down this thought as a blog. But am I good enough to write something that others will read? .
            Where will I publish it? I am a web developer, I should be able to make my own website. But am I a good web developer? Can I deploy it ?
            Good writer or not, good developer or not, I just did it. May be it's the start to become the best. 
            Today at 2 AM I completed this imperfect blog and website. 
        </h4>

    </div>
</div>