#coverImage {
   margin: auto;
   display: inline-block;
   margin: 0 5px;
   width: 50%;
   vertical-align: middle;
}

.Parent{

    display: inline-block;
    margin: 20px 20px ;
   border: 2px solid;
   background-color: antiquewhite;
}

#title{
 display: inline-block;
 text-align: center;
 width: 100%;

}

#intro{
    display: inline-block;
    width: 35%;
    margin: 0 5px;
}

#opening{
    display: flex;
    width: 100%;
    align-items: center;
}

#blogContent > p{
    width: 100%;
    display: inline-block;
    text-align: justify;

}

#blogContent {
    width: 80%;
    display: inline-block;
    margin: 4px 10px;
   text-align: center;
   
}