
.blogEditor {
    width: 50%;
    display: inline-block;
}

.blogBackground {
    width: 100%;
    text-align: center;
}

.submitButton {
    display: inline-block;
    width: 100%;
    text-align: right;

}